In [1]:
# import libraries
import pandas as pd
import numpy as np
import mysql.connector
import sqlalchemy
import warnings
warnings.filterwarnings('ignore')

# RDS Data Base

In [2]:
import mysql.connector

try:
    mydb = mysql.connector.connect(
        host='database-1.cv28ykk6gwpn.us-east-1.rds.amazonaws.com',
        port=3306,
        user='admin',
        password='Mugi_200429'
    )
    print("Connection successful!")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Connection successful!

In [10]:
mycursor = mydb.cursor()

In [11]:
mycursor.execute('show databases')

In [12]:
mycursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('zomato',),
 ('zomato_data',)]

In [19]:
# To drop the existing database (BE CAREFUL!):
mycursor.execute("DROP DATABASE IF EXISTS zomato_data")
mydb.commit()

# Now create the database:
mycursor.execute("CREATE DATABASE zomato_data")
mydb.commit()

In [20]:
mycursor.execute('show databases')

mycursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('zomato_data',)]

In [21]:
from sqlalchemy import create_engine

server = 'database-1.cv28ykk6gwpn.us-east-1.rds.amazonaws.com'
port = 3306
user = 'admin'
password = 'Mugi_200429'
database = 'zomato_data'
sqltype = "mysql+mysqlconnector"

engine = create_engine(f'{sqltype}://{user}:{password}@{server}:{port}/{database}')

print("Engine created successfully!")

Engine created successfully!

In [22]:
# Load the cleaned data
df = pd.read_csv(r"C:\Users\Lenovo\Downloads\mugilan project\Zomato_cleaned_data.csv")

In [23]:
df.to_sql("restaurant",con=engine,if_exists = 'replace')

29753